*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --step--2: clamp(0.69rem, calc(0.51rem + 0.97vw), 1.12rem);
    --step--1: clamp(0.83rem, calc(0.59rem + 1.30vw), 1.40rem);
    --step-0: clamp(1.00rem, calc(0.68rem + 1.71vw), 1.75rem);
    --step-1: clamp(1.20rem, calc(0.78rem + 2.26vw), 2.19rem);
    --step-2: clamp(1.44rem, calc(0.89rem + 2.96vw), 2.73rem);
    --step-3: clamp(1.73rem, calc(1.00rem + 3.86vw), 3.42rem);
    --step-4: clamp(2.07rem, calc(1.13rem + 5.03vw), 4.27rem);
    --step-5: clamp(2.49rem, calc(1.27rem + 6.52vw), 5.34rem);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    background: darkslategray;
    color: whitesmoke;
}

main {
    width: min(90%, 1000px);
    margin-inline: auto;
    max-width: fit-content;
    overflow: auto;
    margin-block-start: 4.5rem;
}

main h3 {
    font-size: var(--step--1);
    text-align: center;
    margin: 2.5rem 0;
}

header {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}

div span {
    font-size: var(--step-0);
}

.header-inner-cont {
    display: flex;
    align-items: center;
    width: min(90%, 1000px);
    height: inherit;
    margin-inline: auto;
}

.header-inner-cont nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    width: min(25%, 250px);
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: var(--step--1);
    margin-left: max(1rem, 1.5rem);
}

main:has(.post-container) h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--step-1);
}

.post-container {
    border-bottom: 2px solid whitesmoke;
}

.post-container h1 {
    color: antiquewhite;
}

.post-container p {
    font-size: var(--step--1);
}

/* .post-container:nth-of-type(3) {
    white-space: pre-wrap;
    background-color: rgb(180, 185, 190);
    padding: max(1vh, 0.5rem);
    border-radius: 10px;
} */

/* .post-container:nth-of-type(3):has(h1) {
    color: black;
} */

.post-container:nth-of-type(3):has(h1) h1 {
    word-wrap: break-word;
    font-size: var(--step-0);
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 max(4vh, 1.5rem) 0;
    margin: 0 auto;
}

.form-container h2 {
    font-size: var(--step-2);
    white-space: nowrap;
    margin-bottom: 0;
    padding: max(6vh, 1.5rem) 0;
    border-top: 1px solid;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    width: min(100%, 520px);
}

form label {
    font-size: calc(var(--step--2) * 1.25);
    cursor: pointer;
}

form :is(input, textarea) {
    padding: 0.5rem;
    font-family: inherit;
    font-size: 18px;
    border-radius: 5px;
}

form :is(input, textarea)::placeholder {
    color: rgba(47, 79, 79, 0.578);
}

textarea {
    resize: none;
}

button {
    padding: 0.5rem 0;
    margin-top: 1.35rem;
    border-radius: 5px;
}

@media screen and (max-width: 450px) {
    nav ul {
        flex-direction: column;
        gap: 2px;
    }
}